<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Your Store</title>
  <meta name="description" content="My Store"/>
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/960.css' %}" media="all"/>
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/screen.css' %}" media="screen"/>
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/color.css' %}" media="screen"/>
  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/ie.css' %}" media="screen"/>
  <![endif]-->

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{% static 'js/shoppica.js' %}"></script>
  {% block head %}
  {% endblock head %}
</head>
<body class="s_layout_fixed">
<div id="wrapper">
  {% include 'include/header.html' %}
  {% block content %}
  {% endblock %}
  {% include 'include/footer.html' %}
</div>
<div id="fb-root"></div>

<script type="text/javascript">
  window.fbAsyncInit = function () {
    FB.init({
      appId: '0c18007de6f00f7ecda8c040fb76cd90', status: true, cookie: true,
      xfbml: true
    });
  };
  (function () {
    var e = document.createElement('script');
    e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

</body>
</html>